.inquiry-container {
    background-image: url("../../assets/dotted-bg.png");
    background-size: contain;
}

.submit-btn {
    transition: transform 0.2s, box-shadow 0.2s;
}

.submit-btn:hover {
    transform: translateY(-2px);
    box-shadow: #00FF79 0px 5px 30px -10px;
}